.nav-logo img {
  display: block;
  max-height: 50px;
  width: auto;
  border-radius: 0px;
}

.nav-links a:hover {
  color: #ee7e1d;
}

.article-content a {
  border-bottom: 2px solid rgba(255, 166, 0, 0.6);
  box-shadow: inset 0 -2px 0 rgba(255, 166, 0, 0.6);
}

.article-content a:hover,
.article-content a:focus {
  background: rgba(255, 166, 0, 0.3);
}

.btn {
  font-family: 'Lato';
  color: blue;
  display: inline-block;
  margin-top: 12px;
  font-size: 14px;
  padding: 6px 12px;
  font-weight: bold;
  border-radius: 3px;
  background-color: rgba(255, 166, 0, 0.75);
  border: 1px solid transparent;
  color: #fff
}

.btn:hover,
.btn:focus {
  background-color: rgb(255, 166, 0);
}
